/* Base styles (extra small devices - mobile) */
/* CSS rules */
html{
    font-size: 14px;
}
body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    font-size: 1rem;
}
#text li a{
    text-decoration: none;
    color: #3B82F6;
}

#navbar{
    padding: 8px;
    margin: 0;
}
#logo-with-text{
    display: none;
}
#banner{
    width: 100%;
    object-fit: cover;
    height: 160px;
}
h1{
    color: chocolate;
    text-align: center;
    margin: 13px 0;
}  
#section{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 8px;
}  
#text{
    line-height: 23px;
}
#text span{
    color: chocolate;
    font-weight: bold;
}
#team-image{
    width: 100%;
}
h2{
    text-align: center;
    margin: 12px;
    font-weight: 500;
}
h2{
    color: darkgoldenrod;
}
#jobs-list{
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
 }
 #job-roles{
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
 }
 #jobs-list{
    display: block;
 }
 #jobs-table{
    display: none;
 }
 .job{
    border: 1px solid #dddddd;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    background-color: #edf095;
 }
 .job-title{
    font-size: 1.25rem;
    font-weight: bold;
    color: #222222;
 }
 .job-detail{
    margin-top: 4px;
    color: #555555;
 }
 #application{
    max-width: 500px;
    margin: 0 auto;
    padding: 0 8px;
}
#application-form label{
    font-weight: 600; 
}
#application-form input, select, textarea{
    padding: 6px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid gray;
}
#application-form input,select{
    width: 90%;
}
#application-form input:focus{
    border: 1px solid #3B82F6;
}

#application-form textarea{
    width: 80%;
}
#application-form input[type="checkbox"]{
    width: 16px;
    height: 16px;
}
#application-form input[type="submit"]{
    background-color: #3B82F6;
    color: white;
}
#footer-link{
    list-style: none;
}
#footer{
    background-color: lavender;
    padding: 8px;
    margin: 32px;
     
}
#footer li{
    margin-bottom: 6px;
   text-decoration: none;
    

}
#footer-link{
    text-align: center;
}
#footer li:hover{
    font-weight: bold;
}
#footer p{
    display: block;
    margin-top: 0;
    margin-bottom: 4px;
    text-align: center;
    /* position: relative;
    top: 0;
    right: 7px; */
    font-weight: bold;
    font-size: 0.875rem;
}
 
#footer li a{
    text-decoration: none;
    color: #3B82F6;
} 
#footer-link{
    padding-left: 0;
}  


h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1.25rem;
}
h6{
    font-size: 1rem;
}


/* Small devices (tablets) */
@media screen and (min-width: 576px) {
    html{
        font-size: 16px;
    }
    #logo{
        display: none;
    }
    #logo-with-text{
        display: block;
    }
    #banner{
        height: 230px;
    }
    h1{
        margin: 16px;
    }
    #application-form input,select,textarea{
        width: auto;
    }
    #footer li{
        display: inline;
        margin: 0 20px;
    }
    #footer p{
        padding: 10px;
        margin: 8px;
    }
  }
  
  /* Medium devices (laptops) */
  @media screen and (min-width: 768px) {
    /* CSS rules */
    #banner{
        height: 270px;
    }
    h1{
        margin: 20px;
    }
    #section{
        max-width: 800px;
        flex-direction: row;
    }
    #text{
        width: 50%;
        padding: 10px;
        line-height: 23px;
        margin-top: 0%;
    }
    #team{
        width: 50%;
        padding: 10px;
    }
    #team-image{
        width: 100%;
    }
    #team-image{
        box-shadow: 4px 4px 8px;
    }
    h2{
        margin: 20px;
    }
    #jobs-list,#job-roles{
        max-width: 800px;
        margin: 0 auto;
        padding: 0 10px;
    }
    #jobs-list{
        display: none;
    }
    #jobs-table{
        display: table;
    }
    #jobs-table{
        width: 100%;
        border: 1px solid gray;
        border-collapse: collapse;
    }
    .jobs-header-row th{
        border: 1px solid gray;
        padding: 8px;
        background-color: #DBEAFE;
        text-align: center;
    }
    .jobs-data-row td{
        border: 1px solid gray;
        padding: 8px;
    }
    #jobs-table tr:nth-child(even){
        background-color: #EFF6FF;
    
    }
    #application{
        max-width: 800px;
        margin: 0 auto;
        padding: 0 8px;
    }
      
    
    
  
  
  /* Large devices (desktops) */
  @media screen and (min-width: 992px) {
    /* CSS rules */
    html{
        font-size: 18px;
    }
    #banner{
        height: 370px;
    }
  }
  
  /* Extra large devices (large desktops) */
  @media screen and (min-width: 1200px) {
    /* CSS rules */
    #banner{
        height: 420px;
    }
  }


/* 

#application-form label{
    font-weight: 600; 
}
#application-form input, select, textarea{
    padding: 6px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid gray;
}
form input:focus{
    border-color: #3B82F6;
}

#application-form textarea{
    width: 80%;
}
#application-form input[type="checkbox"]{
    width: 16px;
    height: 16px;
}
#application-form input[type="submit"]{
    background-color: #3B82F6;
    color: white;
}
#jobs-table{
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}
.jobs-header-row th{
    border: 1px solid gray;
    padding: 8px;
    background-color: #DBEAFE;
    text-align: center;
}
.jobs-data-row td{
    border: 1px solid gray;
    padding: 8px;
}
#jobs-table tr:nth-child(even){
    background-color: #EFF6FF;

}


#text{
    width: 50%;
    padding: 10px;
    line-height: 23px;
    margin-top: 0%;*/
    /* position: relative;
    right: 10px;
    top: 0; 
}
/*
#text span{
    color: chocolate;
    font-weight: bold;
}
#text li a{
    text-decoration: none;
    color: #3B82F6;
}
#text li a:hover{
     color: #2b4a9c;
}
#team{
    width: 50%;
    padding: 10px;*/
    /* position: relative;
    left: 10px;
    top: 0;  
}
/*
#team-image{
    width: 100%;
}
h2{
    text-align: center;
    margin: 22px;
    font-weight: 500;
}
#job-roles{
   max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;

 
}
#job-roles a{
    text-decoration: none;
    border: 2px solid #343461;
    border-radius: 4px;
    background-color: lightgray;
    color: brown;
}
#job-roles a:hover{
    font-weight: bolder;
}
.job{
    margin-bottom: 4px;
    margin-top: 0;
}
.apply{
    float: right;
    position: relative;
    top: 2px;
    right: 40px;
}
#footer-link{
    list-style: none;
}
#footer{
    background-color: lavender;
    padding: 8px;
    margin: 32px;
     
}
#footer li{
    display: inline;
    margin: 0 20px;
   text-decoration: none;
    

}
#footer-link{
    text-align: center;
}
#footer li:hover{
    font-weight: bold;
}
#footer p{
    display: block;
    padding: 10px;
    text-align: center;*/
    /* position: relative;
    top: 0;
    right: 7px; */
   /* font-weight: bold;
    font-size: 0.875rem;
}
#footer li a{
    text-decoration: none;
    color: #3B82F6;
}   
h2{
    color: darkgoldenrod;
    text-transform: uppercase;
}
#team-image{
    box-shadow: 4px 4px 8px;
}
 */